<div id="footer">
  <div class="left">
    <p>romeomendozagarcia@gmail.com</p>
    <p>+593 96 899 9773</p>
    <p>Manta || Ecuador</p>
  </div>
  <div class="right">
    <ul class="contact">
      <li><a href="https://www.facebook.com/romeo.mendozagarcia?fref=ts" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.youtube.com/channel/UCaMx-wbVnuvzoEseuz_wu_A" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
      <li><a href="https://twitter.com/YakMorArt" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://instagram.com/romeomendozagarcia" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Spondylus</li>
    </ul>
  </div>
</div>

</div>

<!-- Scripts -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.poptrox.min.js"></script>
<script src="/static/js/skel.min.js"></script>
<script src="/static/js/skel-viewport.min.js"></script>
<script src="/static/js/util.js"></script>
<!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
<script src="/static/js/main.js"></script>
